/*DEFAULT STYLING*/
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    /* text-align: center; */
}

/*NAVBAR STYLING*/
.navigation {
    border-bottom: 1px solid seashell;
    padding: 0px 10px;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*for a fixed navbar*/
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9999; /*after position:fixed in relation to content after(himage)*/
}

.navigation .logo img {
    height: 50px;
}

.links a {
    padding-left: 1.2rem;
}

/*HEADER IMAGE SECTION*/
.headerimage {
    margin-top: 3.2rem;
    z-index: 1000; /*in relation to fixed nav*/
    /* border: 2px solid red; */
}

.himage {
    height: 700px;
    width: 1200px;
    margin: auto;
    background-image: url("images/header-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.htext {
    /* border: 2px solid red; */
    text-align: center;
    
    /*to position the text vertically center*/
    position: absolute;
    top: 50%;
    width: 1200px;
}
.htext h2 {
    font-size: 24px;
}
.htext h4 {
    font-size: 16px;    
}
.htext h2, .htext h4 {
    margin: .5rem 0 .5rem 0;
}